@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

body{
    background-color: #092635;
    color: #ffffff;
    font-family: 'Winky Rough', cursive;
}

#hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 35px;
    background-color: #1B4242;
    border-radius: 20px;
}

#hero-text {
    flex: 1;
    text-shadow: 3px 5px 20px   rgba(0, 0, 0, 0.5);
}

#hero img {
    width: 40%;
    margin: 20px 50px;
    border-radius: 15px;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.4);
}
#hero img:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

#features {
    background-color: #1B4242;
    border-radius: 20px;
    width: 100%;
}

#features h2 {
    text-align: center;
    margin: 10px 0;
    font-size: 30px;
}

#features-planned {
    padding: 5px;
    background-color: #1B4242;
    border-radius: 20px;
    width: 100%; 
    margin-bottom: 10px;
}

#features-planned h3 {
    text-align: center;
    margin: 10px 0;
    font-size: 25px;
}


#features ul, #features-planned ul {
    list-style-type: square;
    padding-left: 40px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}

#features li, #features-planned li {
    font-weight: 550;
    margin: 0px 0;
}

#download {
    background-color: #1B4242;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

#download h2 {
    margin: 5px 0;
}

#download p {
    text-align: center;
}

#download button {
    background-color: #5C8374;
    color: white;
    border: 2px solid #9EC8B9;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
}

#download button:hover {
    background-color: #93cdb9;
    transform: scale(1.05);
    transition: 0.4s ease;
}

@media (max-width: 768px) {
    #hero {
        flex-direction: column;
        font-size: 17px;
    }
    #hero img {
        width: 80%;
        order: 1;
    }
    
}